// nextflow.config
manifest {
    name = 'CAP'
    author = 'Piotr Włodzimierz'
    homePage = 'https://github.com/vlothec/CAP'
    description = 'Centromere Analysis Pipeline with TRASH2'
    mainScript = 'main.nf'
    nextflowVersion = '!>=24.10.0'
    version = '1.0'
}

env {
    WORKFLOW_DIR = "${baseDir}"
}

params {
    assembly = null
    templates = null
    te_gff = null
    gene_gff = null
    cores = 1
    max_rep_size = 1000
    min_rep_size = 7
    outdir = "./results"
}

process {
    cpus = params.cores
    memory = '4 GB'
    errorStrategy = 'terminate'
    //errorStrategy = 'retry'
    //maxRetries = 1
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'yourname/cap-pipeline:latest'
    }
    conda {
        conda.enabled = true
        conda.useMamba = true
        process.conda = "${projectDir}/environment.yml"
    }
    renv {
    process {
        executor = 'local'
        beforeScript = """
            echo "Activating R renv environment... at ${projectDir} or /${projectDir} or2 \${projectDir}"
            Rscript -e "renv::restore(project = '${projectDir}', prompt = FALSE)"
            export R_ENVIRON_USER='${projectDir}/.Renviron'
            export R_PROFILE_USER='${projectDir}/.Rprofile'
        """
    }
}

}
